
.container {
    background: #6d67d0;
    border-radius: 10px;
    
}

.title{
    font-size: 1.6rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dad8f7;
    gap: 0.8rem;
    
    margin-top: 3.2rem;
}

.sunChartWrapper{
    position: relative;
    height: 11rem;
    margin-top: 3rem;
}

.sunChartWrapper .sunChart{
    --pos-x : 40;
    margin: auto;
    width: 21.6rem;
    height: 21.6rem;
    
    margin-top: 1.6rem;
    
    position: relative;
}

.chart{
    height: 10.8rem;
    width: 21.6rem;
    overflow: hidden;
}

.sunChart::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    
    background: #f6c833;
    border-radius: 50%;
    
    top: 50%;
    left: 50%;
    margin: -0.6rem;
    
    transform: rotate(calc(1deg * (((100 - var(--pos-x)) / -100) * 180))) translate(10.6rem);
    
}

.chart::before {
    content: "";
    width: 21.2rem;
    height: 22rem;
    
    display: block;
    border-radius: 50%;
    
    background: linear-gradient(
        180deg,
        rgba(251,219,96,0.2) 0%,
        rgba(251,219,96,0) 101.89%
    );
    
    --mask: linear-gradient(0deg, white 50%, transparent 0%);
    mask:var(--mask);
    -webkit-mask: var(--mask);
    
    rotate: calc(1.8deg * var(--pos-x));
}

.chart img{
    position: absolute;
    top: 0;
    /* left: -0.8%; */
}

.now{
    position: absolute;
    
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
}

.time{
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    max-width: 27.6rem;
    margin: 0.8rem auto 0;
    padding: 0 1.6rem 1.6rem;

}